<!-- {% extends "../frontend/base.html" %} -->
{% load static %}

{% block title %}{{ meta_title }}{% endblock %}
{% block meta_description %}{{ meta_description }}{% endblock %}

{% block content %}
<div class="admin-dashboard d-flex">
    <!-- ===== SIDEBAR ===== -->
    <aside class="admin-sidebar p-3 mt-5">
        <h4 class="fw-bold mb-4 text-center text-white mt-3">Admin Panel</h4>
        <ul class="nav flex-column">
            <li class="nav-item"><a href="{% url 'account:dashboard' %}"
                    class="nav-link text-white active">Dashboard</a></li>
            <li class="nav-item"><a href="{% url 'account:add_product' %}" class="nav-link text-white">Add product</a></li>
            <!-- <li class="nav-item"><a href="#" class="nav-link text-white">Settings</a></li> -->
            <li class="nav-item"><a href="{% url 'account:logout' %}" class="nav-link text-white">Logout</a></li>
        </ul>
    </aside>

    <main class="admin-content flex-grow-1 p-4 fade-up mt-5">
        {% block admin_dashboard %}{% endblock %}
    </main>
</div>

{% endblock %}