{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Farm Company Dashboard</title>

    <!-- favicon icon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'frontend/images/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'frontend/images/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'frontend/images/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'frontend/images/favicon/site.webmanifest' %}">

    <!-- Bootstrap CSS -->
    <link href="{% static 'frontend/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'account/account.css' %}">
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
            <button class="btn btn-outline-light d-lg-none" id="toggleSidebarBtn">☰</button>
            <a class="navbar-brand ms-2" href="#">Fabstar Limited</a>
        </div>
    </nav>

    <!-- Sidebar -->
    <div id="sidebar">
        <div class="d-flex justify-content-between align-items-center p-3 border-bottom mt-3">
            <h5 class="mb-0">Menu</h5>
            <!-- <a href=""  class="text-white" id="closeSidebarBtn">closee</a> -->
            <button class="btn btn-light btn-sm text-dark d-lg-none" id="closeSidebarBtn">&times;</button>
        </div>
        <ul class="nav flex-column px-2">
            <li class="nav-item"><a href="{% url 'account:dashboard' %}" class="nav-link">Dashboard</a></li>
            <li class="nav-item"><a href="{% url 'account:add_product' %}" class="nav-link">Add Product</a></li>
            <li class="nav-item"><a href="{% url 'account:logout' %}" class="nav-link">Logout</a></li>
        </ul>
    </div>

    <!-- Main Content -->
    <div id="main-content">
        <div class="pt-4 mt-4">
            {% block content %}{% endblock %}
            <!-- <h3>Dashboard Overview</h3>
            <p class="text-muted">Summary of recent activity</p> -->

            <!-- Table -->
            
        </div>
    </div>

    <!-- Bootstrap JS -->
    <script src="{% static 'frontend/js/bootstrap.min.js' %}"></script>
    <!-- custom js -->
    <script src="{% static 'account/account.js' %}"></script>
</body>

</html>