{% extends "../base.html" %}
{% load static %}

{% block content %}
<section class="product-form-section py-4 fade-up">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="card shadow-sm border-0 rounded-4 bg-primary text-white">
                    <div class="card-body">
                        <div class="container mt-5">
                            <h2>Confirm Delete</h2>
                            <p>Are you sure you want to delete the product: <strong>{{ product.name }}</strong>?</p>

                            <form method="POST">
                                {% csrf_token %}
                                <a href="{% url 'account:dashboard' %}" class="btn btn-secondary">Cancel</a>
                                <button type="submit" class="btn btn-danger js-submit-btn">
                                    <span class="spinner-border spinner-border-sm d-none" role="status"
                                        aria-hidden="true"></span>
                                    <span class="btn-text">Yes, Delete</span> 
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}