{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ meta_title|default:default_meta_title }}{% endblock %}</title>
    <meta name="description" content="{{ meta_description|default:default_meta_description }}" />
    <meta name="keywords" content="{{ meta_keywords|default:default_meta_keywords }}" />
    <link rel="canonical" href="{{ canonical_url|default:request.build_absolute_uri }}" />

    <!-- Open Graph -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ meta_title|default:default_meta_title }}" />
    <meta property="og:description" content="{{ meta_description|default:default_meta_description }}" />
    <meta property="og:image" content="{{ og_image|default:default_og_image }}" />
    <meta property="og:url" content="{{ canonical_url|default:request.build_absolute_uri }}" />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="{{ meta_title|default:default_meta_title }}" />
    <meta name="twitter:description" content="{{ meta_description|default:default_meta_description }}" />
    <meta property="twitter:image" content="{{ og_image|default:default_og_image }}" />

    <!-- JSON-LD Schema -->
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
        "@type": "Organization",
        "name": "Fabstar Limited",
        "url": "{{ canonical_url|default:canonical_url }}",
        "logo": "{{ default_logo_url }}",
        "description": "{{ meta_description|default:default_meta_description }}",
        "sameAs": [
        "https://www.facebook.com/fabstarlimited",
        "https://www.instagram.com/fabstarlimited",
        "https://twitter.com/fabstarltd"
        ]
    }
    </script>

    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon" />
    {% block extra_head %}{% endblock %}

    <!-- GOOGLE FONT -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800&display=swap"
        rel="stylesheet">

    <!-- BOOTSTRAP 5 (CSS) -->
    <link href="{% static 'frontend/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- ICONS (Bootstrap icons CDN) -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Swiper CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <!-- Your Swiper init JS -->
    <script src="{% static 'frontend/js/swiper-init.js' %}" defer></script>

    <!-- custom css -->
    <link rel="stylesheet" href="{% static 'frontend/css/frontend.css' %}">
    {% block extra_css %}{% endblock %}
</head>

<body>
    {% include './includes/navbar.html' %}
    {% block content %}{% endblock %}
    {% include './includes/footer.html' %}

    <!-- boostrap js -->
    <script src="{% static 'frontend/js/bootstrap.min.js' %}"></script>



    <!-- custom js  -->
    <script src="{% static 'frontend/js/frontend.js' %}"></script>

    {% block extra_js %}{% endblock %}
</body>

</html>